
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root{
  --bg-color:#131722;
  --light-bg-color:#24baef;
  --bg-transparent:rgba(36,186,239,.6);
  --font-color:#fff;
  --border: color #a8a8a83d;
  --border-height:1px;
  --second-font-color:#949cb0;
  --main-font : "Montserrat Alternates", sans-serif;


}

body{
  background-color: var(--bg-color);
  font-family: var(--main-font);
  color:var(--font-color)

}
a{
  color:var(--font-color);
  text-decoration: none;
}
.my-input{
  background-color: transparent;
  border: solid 1px #a8a8a83d ;
  color: #fff;
}
.cursor-pointer{
  cursor: pointer;
}
.brdr{
  height: 1px;
  background-color: #a8a8a83d ;
}
.pr{
  color:#fbf8f83d ;
}
.vote{
  background-color:var(--light-bg-color) ;
}

.genre{
  background-color:var(--light-bg-color) ;
  font-size: small;
}
.text-style{
  font-size: small;
}

.offline{
  background-color: var(--bg-color);
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}
.loader {
        width: 84px;
        height: 84px;
        position: relative;
      }
      .loader:before , .loader:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width:84px;
        height: 84px;
        border-radius: 50%;
        background:#FF3D00;
        animation: push 1s infinite linear alternate;
      }
      .loader:after {
        top: auto;
        bottom: 0;
        left: 0;
        background: #fff;
        animation-direction: alternate-reverse;
      }
      @keyframes push {
          0% {
            width:14px;
            height: 14px;
          }
          100% {
            width:84px;
            height: 84px;
          }
      }
  