
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root{
  --bg-color:#131722;
  --light-bg-color:#24baef;
  --bg-transparent:rgba(36,186,239,.6);
  --font-color:#fff;
  --border: color #a8a8a83d;
  --border-height:1px;
  --second-font-color:#949cb0;
  --main-font : "Montserrat Alternates", sans-serif;


}

body{
  background-color: #fafafa;
  font-family: var(--main-font);
  color:var(--font-color)

}
a{
  color:var(--font-color);
  text-decoration: none;
}
.my-input{
  background-color: transparent;
  border: solid 1px #a8a8a83d ;
  color: #fff;
}
.cursor-pointer{
  cursor: pointer;
}
.brdr{
  height: 1px;
  background-color: #a8a8a83d ;
}
.pr{
  color:#17151574 ;
}
.vote{
  background-color:var(--light-bg-color) ;
}

.genre{
  background-color:var(--light-bg-color) ;
  font-size: small;
}
.text-style{
  font-size: small;
}

.offline{
  background-color: var(--bg-color);
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}
.loader {
        width: 84px;
        height: 84px;
        position: relative;
      }
      .loader:before , .loader:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width:84px;
        height: 84px;
        border-radius: 50%;
        background:#FF3D00;
        animation: push 1s infinite linear alternate;
      }
      .loader:after {
        top: auto;
        bottom: 0;
        left: 0;
        background: #fff;
        animation-direction: alternate-reverse;
      }
      @keyframes push {
          0% {
            width:14px;
            height: 14px;
          }
          100% {
            width:84px;
            height: 84px;
          }
      }
      .carousel-container {
        position: relative;
        /*padding: 20px;*/
        background-image: url('../public/assetes/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg'); /* Replace with your image URL */
        background-size: cover; /* Ensure the image covers the entire area */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
      }
      
      
      .video-item {
        position: relative;
      }
      
      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
      }
      
      .play-button img {
        width: 100%;
        height: auto;
      }
      .mainColor{
        color:#131722 ;
        font-weight: 600;
      }
     .bgNav{
      background-color: var(--bg-color);
     }
     /* Header.css */

/* Style for the scrollbar container */
.scroll-container {
  overflow-x: auto; /* Ensure scrollbar always shows */
  white-space: nowrap;

  display: flex;
  scrollbar-width: thin; /* Firefox: thin scrollbar */
}

.scroll-container::-webkit-scrollbar {
  width: 12px; /* Smaller scrollbar width for Chrome, Safari */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker thumb color on hover */
}

/* Ensure video titles wrap and do not overflow */
.video-item .card-title {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-container .react-multi-carousel-list {
  padding: 0; /* Remove padding from the carousel list */
}

/* Hide the left and right arrows of the carousel */
.carousel-container .react-multi-carousel-arrow {
  display: none;
}




  .checkbox-wrapper-5 .check {
    --size: 24px;

    position: relative;
    background: linear-gradient(90deg, var(--bg-color),#24baef);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
  }

  .checkbox-wrapper-5 .check input[type="checkbox"],
  .checkbox-wrapper-5 .check label,
  .checkbox-wrapper-5 .check label::before,
  .checkbox-wrapper-5 .check label::after,
  .checkbox-wrapper-5 .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
  }

  .checkbox-wrapper-5 .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
  }

  .checkbox-wrapper-5 .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    outline: none;
    margin: 0;
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
    background: transparent;
  }

  .checkbox-wrapper-5 .check label::before,
  .checkbox-wrapper-5 .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
  }

  .checkbox-wrapper-5 .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
  }


  .flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }

























  












