
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
/* src/index.css ou src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    --bg-color:#131722;
  --light-bg-color:#24baef;
  --bg-transparent:rgba(36,186,239,.6);
  --font-color:#fff;
  --border: color #a8a8a83d;
  --border-height:1px;
  --second-font-color:#949cb0;
  --main-font : "Montserrat Alternates", sans-serif;
  --gradient: linear-gradient(90deg, var(--bg-color),#24baef 100%);
  
  --black: #04152d;
  --black2: #041226;
  --black3: #020c1b;
  --black-lighter: #1c4b91;
  --black-light: #173d77;


}
.carouselTitle {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
  font-weight: normal;
}
body{
  background-color: #fafafa;
  font-family: var(--main-font);
  color:var(--font-color)

}
a{
  color:var(--font-color);
  text-decoration: none;
}
.my-input{
  background-color: transparent;
  border: solid 1px #a8a8a83d ;
  color: #fff;
}
.cursor-pointer{
  cursor: pointer;
}
.brdr{
  height: 1px;
  background-color: #a8a8a83d ;
}
.pr{
  color:#17151574 ;
}
.switch-tabs-container {
  display: inline-block; /* Ajuste la largeur en fonction du contenu */
}

.genre{
  background-color:var(--light-bg-color) ;
  font-size: small;
}
.text-style{
  font-size: small;
}

.offline{
  background-color: var(--bg-color);
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}
.loader {
        width: 84px;
        height: 84px;
        position: relative;
      }
      .loader:before , .loader:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width:84px;
        height: 84px;
        border-radius: 50%;
        background:#FF3D00;
        animation: push 1s infinite linear alternate;
      }
      .loader:after {
        top: auto;
        bottom: 0;
        left: 0;
        background: #fff;
        animation-direction: alternate-reverse;
      }
      @keyframes push {
          0% {
            width:14px;
            height: 14px;
          }
          100% {
            width:84px;
            height: 84px;
          }
      }
      .carousel-container {
        position: relative;
        /*padding: 20px;*/
        background-image: url('../public/assetes/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg'); /* Replace with your image URL */
        background-size: cover; /* Ensure the image covers the entire area */
        background-position: 0px 50px; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        margin-left: 6px;
        width: 100%;
      }
      
      
      .video-item {
        position: relative;
      }
      
      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
      }
      
      .play-button img {
        width: 100%;
        height: auto;
      }
      .mainColor{
        color:#131722 ;
        font-weight: 600;
      }
     .bgNav{
      background-color: var(--bg-color);
     }
     /* Header.css */



/* Ensure video titles wrap and do not overflow */
.video-item .card-title {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* Hide the left and right arrows of the carousel */





  .checkbox-wrapper-5 .check {
    --size: 24px;

    position: relative;
    background: linear-gradient(90deg, var(--bg-color),#24baef);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
  }

  .checkbox-wrapper-5 .check input[type="checkbox"],
  .checkbox-wrapper-5 .check label,
  .checkbox-wrapper-5 .check label::before,
  .checkbox-wrapper-5 .check label::after,
  .checkbox-wrapper-5 .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
  }

  .checkbox-wrapper-5 .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
  }

  .checkbox-wrapper-5 .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    outline: none;
    margin: 0;
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
    background: transparent;
  }

  .checkbox-wrapper-5 .check label::before,
  .checkbox-wrapper-5 .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
  }

  .checkbox-wrapper-5 .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
  }

  .flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  
  .single-chart {
    width: 33%;
  }
  
  
  .circular-chart {
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin: 0 auto;
  }
  
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width:3;
  }
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }
 
  
 
  .vote-circle {
    bottom: -20px; /* Distance depuis le bas */
    left: 10px; /* Distance depuis la gauche */
    width: 40px; /* Largeur du cercle */
    height: 40px; /* Hauteur du cercle */
    border-radius: 50%; /* Rendre le conteneur circulaire */
    background-color: white; /* Fond noir avec opacité */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px; /* Espacement interne */
  }
  
  .circular-chart {
    width: 100%; /* Remplir le conteneur */
    height: 100%;
  }
  
  .circular-chart .percentage {
    fill: black; /* Couleur du texte blanc */
    font-size: 0.6em; /* Ajuster la taille du texte si nécessaire */
    font-weight: 600;
  }
  



  .myicon{
    background-color: #131722;
    width: 40px;
    height: 40px;
  }
  .play-icon{
    color: #131722;
  }
  
  .image-container {
     /* Définissez une hauteur spécifique ou utilisez une autre unité selon vos besoins */
    overflow: hidden; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    /* Assure que l'image de fond ne dépasse pas les limites de l'élément */
  }
    
  .image-container-home {
    /* Définissez une hauteur spécifique ou utilisez une autre unité selon vos besoins */
   overflow: hidden; 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left center;
   
   /* Assure que l'image de fond ne dépasse pas les limites de l'élément */
 }
  
  .image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 40, 56, 0.7); /* Superposition noire avec opacité */
    z-index: 0.5;
  }
  
  .image-container * {
    z-index: 555555;
  }
  
  .padd{
    padding: 0 150px;
  }
  

/* index.css */

/* Style pour la barre de défilement */
.swiper-scrollbar {
  background-color: transparent; /* Couleur de fond de la barre de défilement */
 
}

/* Style pour la partie active de la barre de défilement */
.swiper-scrollbar-drag {
  background-color: #DBDBDB; /* Couleur de la partie active de la barre de défilement */
  height: 8px;
}
.bg-image{
  width: 200px;
  height: 200px;
}







.switchingTabs {
  height: 34px;
  background-color: white;
  border-radius: 20px;
  padding: 1px;
  border: #04152d solid 1px;
}
.movingBg {
  height: 30px;
  width: 100px;
  border-radius: 15px;
  background-image: var(--gradient);
  position: absolute;
  left: 0;
  transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
}
.tabItem {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  color: var(--black);
  font-size: 14px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: color ease 0.3s;
  &.active {
      color: white;
  }
}
.tabItems {
  display: flex;
  align-items: center;
  height: 30px;
  position: relative; 
}

.contentWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}





/*footer*/
.footer {
  background-color: var(--bg-color);
  padding: 50px 0;
  color: white;
  position: relative;
  .contentWrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  .menuItems {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      margin-bottom: 20px;
      @include md {
          margin-bottom: 30px;
          gap: 30px;
      }
      .menuItem {
          transition: all ease 0.3s;
          cursor: pointer;
          font-size: 12px;
          @include md {
              font-size: 16px;
          }
          &:hover {
              color: var(--pink);
          }
      }
  }
  .infoText {
      font-size: 12px;
      line-height: 20px;
      opacity: 0.5;
      text-align: center;
      max-width: 800px;
      margin-bottom: 20px;
      @include md {
          font-size: 14px;
          margin-bottom: 30px;
      }
  }
  .socialIcons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: var(--black);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all ease 0.3s;
          &:hover {
              box-shadow: 0 0 0.625em var(--light-bg-color);
              color: var(--black-light);
          }
      }
  }
}
.person-details{
  height: 60px;
}


/* Styles CSS pour le sélecteur personnalisé */

.react-select-container .react-select__control {
  background-color: var(--bg-color) ; 
  border-radius: 50px;
  width: 253px;
  
}

.react-select-container .react-select__value-container {
  color: #fff ;
}

.react-select-container .react-select__single-value {
  color: #fff ;
}

.react-select-container .react-select__menu {
  background-color: var(--bg-color) ;
  color: #fff ;
}

.react-select-container .react-select__option {
  background-color: var(--bg-color) ;
  color: #fff ;
}

.react-select-container .react-select__option--is-focused {
  background-color: var(--black-lighter) ;
}

.react-select-container .react-select__option--is-selected {
  background-color: var(--black-light) ;
}


.custom-pagination {
  display: flex;
  justify-content: center;

}

.custom-pagination .page-item {
  margin: 0 3px;
 
}

.custom-pagination .page-link {
  color: var(--black);
  transition: background-color 0.6s;
 
  border-radius: 50%;
}


.custom-pagination .active .page-link {
  background-color: var(--black);
  color: white;
  border-color: var(--black);
}





.searchInput {
  display: flex;
  align-items: center;
  width: 100%;
  input {
      width: calc(100% - 100px);
      height: 40px;
      background-color: white;
      outline: 0;
      border: 0;
      border-radius: 30px 0 0 30px;
      padding: 0 15px;
      font-size: 14px;
      @include md {
          width: calc(100% - 150px);
          height: 60px;
          font-size: 20px;
          padding: 0 30px;
      }
  }
  button {
      width: 100px;
      height: 40px;
      background: var(--gradient);
      color: white;
      outline: 0;
      border: 0;
      border-radius: 0 30px 30px 0;
      font-size: 16px;
      cursor: pointer;
      @include md {
          width: 150px;
          height: 60px;
          font-size: 18px;
      }
  }
}
.custom-container {
 
  margin-right: 0px;
  margin-left: 0px;
 
}

@media (min-width: 768px) {
  .custom-container {
    margin-right: 150px;
    margin-left: 150px;
  }
}

